#set ( $filename="style.css.${detector}")
$page.DefaultDoctype
$page.addScript($content.getURI("resources/global.js"))
$page.addStyleSheet($content.getURI("resources/${filename}"))

<html>
#HtmlHead()
<body #HtmlBodyAttributes() topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<table width="100%">
  <tr>
    <td colspan="2">
      $navigation.setTemplate("DefaultTop.vm")
    </td>
  </tr>
  <tr>
    <td align="left">
      $screen_placeholder
    </td>
  </tr>
  <tr>
    <td colspan="2">
      $navigation.setTemplate("DefaultBottom.vm")
    </td>
  </tr>
</table>
</body>
</html>