/*
 * $dontedit
 */
package ${metadata.packageName};

import org.codehaus.plexus.personality.plexus.lifecycle.phase.Initializable;
import org.dentaku.services.persistence.PersistenceException;
import org.dentaku.services.persistence.PersistenceManagerStorage;
import org.dentaku.services.persistence.TranQLPersistenceFactory;
import org.dentaku.services.persistence.tranql.Field;
import org.dentaku.services.persistence.tranql.ModelEntity;
import org.dentaku.services.persistence.tranql.Relationship;
import org.tranql.schema.Association;
import org.tranql.schema.Entity;
import org.tranql.sql.Column;
import org.tranql.sql.EndTable;
import org.tranql.sql.JoinTable;
import org.tranql.sql.Table;

import java.util.LinkedHashMap;

/**
 * <p>
 * Factory class.
 * Is able to find and create objects of type ${class.name}.
 * Those can be described as follows:
 * </p>
#set ($tablename = $plugin.toDatabaseAttributeName(${class.name}, "_"))
#foreach ( $tgv in $class.taggedValues )
#if ($tgv.tag != "documentation")
#if ($tgv.tag == "---")
    #set ($tag = "")
#else
    #set ($tag = $tgv.tag)
#end
 * $tag    $tgv.value
#end
#end
 *
 */
public class ${class.name}Factory implements TranQLPersistenceFactory, Initializable {
    protected PersistenceManagerStorage pm = null;
    protected ModelEntity entity = null;
    protected Table table = null;

    public Entity getEntity() {
        return entity;
    }

    public Table getTable() {
        return table;
    }

    public void initialize() throws Exception {
##        e = new ModelEntity("${class.name}", ${class.name}.class);
        // schema
        entity = new ModelEntity("${class.name}", "${class.fullyQualifiedName}");
#foreach ( $att in $class.attributes)
#set ($attname =  ${plugin.fromDatabaseAttributeName(${att.name}, "_")})
#if ($plugin.matchesStereotype($att, "PrimaryKey"))
        entity.addField(new Field("$attname", "$attname", ${att.type.fullyQualifiedName}.class, true));
#else
        entity.addField(new Field("$attname", "$attname", ${att.type.fullyQualifiedName}.class, false));
#end
#end
        // table
        table = new Table("${class.name}");
#foreach ( $att in $class.attributes)
#set ($attname =  ${plugin.fromDatabaseAttributeName(${att.name}, "_")})
#if ($plugin.matchesStereotype($att, "PrimaryKey"))
        table.addColumn(new Column("$attname", "$attname", ${att.type.fullyQualifiedName}.class, true));
#else
        table.addColumn(new Column("$attname", "$attname", ${att.type.fullyQualifiedName}.class, false));
#end
#end
    }

    public void setup(PersistenceManagerStorage pm) throws PersistenceException {
#foreach ( $assoc in $class.associationLinks )
#if ($assoc.target.navigable == true)
#set ($targettypename = $assoc.target.participant.fullyQualifiedName)
        entity.addRelation(createRelation(pm, ${targettypename}.class));
#end
#end
#foreach ( $assoc in $class.associationLinks )
#if ($assoc.target.navigable == true)
#set ($targettypename = $assoc.target.participant.fullyQualifiedName)
        table.addEndTable(createEndTable(pm, ${targettypename}.class));
#end
#end
    }

    private Association createRelation(PersistenceManagerStorage pm, Class r2) throws PersistenceException {
        Entity relation = ((TranQLPersistenceFactory) pm.getPersistenceFactory(r2.getName())).getEntity();

        return new Relationship(new Association.JoinDefinition(getEntity(), relation, new LinkedHashMap()));
    }

    private EndTable createEndTable(PersistenceManagerStorage pm, Class relationClass) throws PersistenceException {
        LinkedHashMap pkToFk = new LinkedHashMap();
//        pkToFk.put(pkFieldA1, new FKColumn("fka1", String.class));
//        pkToFk.put(pkFieldA2, new FKColumn("fka2", String.class));
        Table relation = ((TranQLPersistenceFactory) pm.getPersistenceFactory(relationClass.getName())).getTable();
        JoinTable joinTable = new JoinTable(new Association.JoinDefinition(this.getTable(), relation, pkToFk));

        EndTable endTable = new EndTable(relationClass.getName(), this.getTable(), true, false, joinTable, false);
        return endTable;
    }

   // ---------------- create methods --------------------

   /**
    * Creates a null ${class.name} object.
    * @return Object  the created ${class.name}
    */
    public org.dentaku.services.persistence.Entity create() throws PersistenceException {
#if ( $class.isAbstract() == false)
        return new ${class.name}();
#else
        throw new PersistenceException("Can't instantiate abstract object");
#end
    }

   /**
    * Clone the object.
    * @return ${class.name} the created object
    */
    public org.dentaku.services.persistence.Entity create(Object src) throws PersistenceException {
#if ( $class.isAbstract() == false)
        ${class.name} source = (${class.name})src;
        ${class.name} object = new ${class.name}();

#foreach ( $att in $class.attributes)
#if (!$plugin.matchesStereotype($att, "PrimaryKey"))
#set ($attname =  ${plugin.fromDatabaseAttributeName(${att.name}, "_")})
        object.set${plugin.upperCaseFirstLetter(${attname})} (source.get${plugin.upperCaseFirstLetter(${attname})}());
#end
#end
        pm.saveOrUpdate(object);

        return object;
#else
        throw new PersistenceException("Can't instantiate abstract object");
#end
    }

    // ---------------- finder methods  ----------------------
#set ($primKey = $class.primaryKeyAttribute)
#set ($primKeyTypeName = $primKey.type.fullyQualifiedName)
    /**
     *
     * Finds ${class.name} object by its primary key.
     * In Hibernate, this is just a call to load().
     *
     */
    public org.dentaku.services.persistence.Entity findByPrimaryKey (java.io.Serializable ${primKey.name}) throws PersistenceException {
        return (org.dentaku.services.persistence.Entity)pm.load(${class.name}.class, ${primKey.name});
    }

#foreach ( $op in $class.operations)
#if ($plugin.matchesStereotype($op, "FinderMethod"))
#set ($returntype = $op.returnType.fullyQualifiedName)
##
#set ($parameterList = $op.typedParameterList)
#if ($parameterList.length() == 0)
#set ($parameters = "")
#else
#set ($parameters = "${parameterList}")
#end
##
    /**
     *
     * Finds ${class.name} object(s) using a query.
     * @todo: remove hibernate dependencies
     */
    $op.visibilityName $returntype ${op.name} ($parameters)
        throws PersistenceException
    {
##
#set($querystring = "")
#set($querystring = $op.findTagValue("@gentaku.hibernate.query"))
#if($querystring == "")
#set($querystring = "from c in class ${class.fullyQualifiedName}")
#if($op.parameters.size() > 0)
#set($querystring = "${querystring} where")
#foreach($prm in $op.parameters)
#set($querystring="${querystring} c.$prm.name=?")
#if($velocityCount != $op.parameters.size())
#set($querystring = "${querystring} and")
#end
#end
#end
#end
##
        $returntype result = null;
##
        java.util.ArrayList types = new java.util.ArrayList();
        java.util.ArrayList values = new java.util.ArrayList();
#foreach($prm in $op.parameters)
#set ($index = $velocityCount - 1)
        types.add(net.sf.hibernate.Hibernate.${plugin.toUpperCase($prm.type.name)});
        values.add(${prm.name});
#end
##
        return pm.find("$querystring", null, null);
    }

#end##if stereotype=="FinderMethod"
#end##foreach operation

    // ---------------- filter methods  ----------------------
#foreach ( $op in $class.operations)
#if ($plugin.matchesStereotype($op.id, "FilterMethod"))
#set ($returntype = $op.type.fullyQualifiedName)
    /**
     *
     * Filter a collection.
     * @todo: remove hibernate dependencies
     */
    $op.visibility java.util.Collection ${op.name} (java.util.Collection c) throws PersistenceException
    {
##
#set($querystring = $op.findTagValue("@gentaku.hibernate.filter"))
##
        return pm.filter(c, "$querystring");
    }

#end##if stereotype=="FilterMethod"
#end##foreach operation
}
