
.bodyText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #9C65FF;
}

.bodyTextBold {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #9C65FF;
}

.bodyTextSmall {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #9C65FF;
}

.bodyTitle {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #FFFFFF;
}

.footerText {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
}

.orderSummaryTitle {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}

.orderSummaryText {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
}

.orderSummaryTextBold {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
}

a.footertext:hover {
	color: #FFFFFF;
	text-decoration: none;
}

a.footertext:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.footertext:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.pageHeader {
	font-weight: normal;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.headerText {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.headerLinks {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #919AF5;
  background-color: white;
	text-decoration: none;
}

a.headerLinks:hover {
	color: #919AF5;
	text-decoration: none;
}

a.headerLinks:link {
	color: #919AF5;
	text-decoration: none;
}

a.headerLinks:visited {
	color: #919AF5;
	text-decoration: none;
}

.lookupBox {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.footer {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.listHeading {
	font-weight: bold;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: white;
  background-color: #919AF5;
	text-decoration: none;
}

.listSubHeading {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: white;
  background-color: #919AF5;
	text-decoration: none;
}

a.listHeading:hover {
	color: white;
	text-decoration: none;
}

a.listHeading:visited {
	color: white;
	text-decoration: none;
}

a.listHeading:link {
	color: white;
	text-decoration: none;
}


.listRowShaded {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
  background-color: #C0C0C0;
	text-decoration: none;
}

.listRowUnshaded {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.listRowText {
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.listRowSmall {
	font-weight: normal;
	font-size: 7pt;
}

a.listRow:hover {
	color: black;
	text-decoration: none;
}

a.listRow:visited {
	color: black;
	text-decoration: none;
}

a.listRow:link {
	color: black;
	text-decoration: none;
}


.tableNote {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.editColumnTitle {
	font-weight: bold;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.editColumnText {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: black;
  background-color: white;
	text-decoration: none;
}

.formError {
	font-weight: normal;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: red;
  background-color: white;
	text-decoration: none;
}

.historyName {
  font-style: italic;
	font-size: 8pt;
}

.help {
	font-weight: normal;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
  background-color: white;
	text-decoration: none;
  line-height: 2.2;
  vertical-align: baseline;
}

.helpImage {
  vertical-align: -15%;
}