#set( $Q = '"' )
   
#macro( fetchselector $classView  )
		#set ( $arraycount = 0 )
		String filter = new String(); 
		#foreach($selectorname in ${classView.selectorNames})
			#set ( $type = ${classView.selectorTypes}.get($arraycount) )
			#set ( $selectorname = $Q$selectorname$Q )
			#if($arraycount == 0)
			filter = $Q${selectorname} == aData.getParameters().getString(${selectorname})$Q );
			#else
			filter += $Q && ${selectorname} == aData.getParameters().getString(${selectorname})$Q );
			#end
			#set ($arraycount =  $arraycount + 1 )
		#end
		Query q = pm.newQuery (${classView.entityclassname}.class, filter);
		// Have to assume there is only one
		q.setUnique (true);
		${classView.entityclassname} aObject = (${classView.entityclassname}) q.execute(); 
#end
 
/**
 * $dontedit
 * Be nice to supply a base class and allow user to extend, but most extensions can be 
 * managed by adding valves to pipeline 
 */
package ${qualifiedScreenName}.action;

#set ( $entitieswithcrud = $SummitHelper.getCrudList() )
#set ( $viewrefclasses = $rootClassView.getAllDependentClassView() )

#set ( $packagename = $qualifiedScreenName )
package $packagename.actions;

import org.codehaus.dentaku.summit.modules.actions.CrudAction;
import org.codehaus.dentaku.summit.modules.actions.FkException;
import $packagename.model.*;
import $packagename.util.*;

import org.codehaus.plexus.summit.parameters.SummitRequestParameterParser;
import org.codehaus.plexus.summit.rundata.RunData;
import org.codehaus.plexus.jdo.JDOService;

import javax.jdo.PersistanceManager;
import javax.jdo.Extent;
import javax.jdo.Query;

import org.apache.velocity.context.Context;

import java.util.*;
/**
 * Insert/Update/Delete instances of domain records
 * then populate the context ready to be rendered by the Velocity page.
 */
public class Crud${SummitHelper.screenname}} extends CrudAction {

	private JDOService jdos;

    public Crud${SummitHelper.screenname}} {
		jdos = { JDOService ) lookup( JDOService.ROLE );
	}

#foreach($viewclass in $entitieswithcrud)
    /**
     * Persist a new instance of ${viewclass.entityclassname}
     */
    public void doCreate${viewclass.entityclassname}(RunData aData, Context aContext) {
        try {
            logParameters(aData, $QCrud${viewclass.entityclassname}.create()$Q);

            ${viewclass.entityclassname} instance = new ${viewclass.entityclassname}();

            // setProperties throws if the id has not been initialised,
            // as will occur if nothing has been previously selected from
            // the drop-down list (e.g. when no entities exist in the
            // record).
            ParameterParser parser = aData.getParameters();
            parser.setProperties(instance);

            if (err.length() != 0) {
                contextMessage(aContext, err);
                populateContext(aData, aContext);
				return;
            }

			PersistanceManager pm = jdos.getPersistenceManagerFactory().getPersistenceManager();
			try {
                tx.begin();       
    			pm.makePersistent(instance);
                tx.commit();
            }
            finally
            {
                if (tx.isActive()) {
                    tx.rollback();
                }
                pm.close();
			}
            try {
            #foreach (${parentclass} in ${viewclass.parents})
                populateContextWith${parentclass.entityclassname}(aData, aContext);
            #end
                populateContextWithSelected${viewclass.entityclassname}(instance,
                    aData, aContext);
            } catch (Exception e) {
                handleException(aContext, $QCrud${viewclass.entityclassname}.doCreate{entityclass.name}()$Q,
                    $QUnable to populate context with ${viewclass.entityclassname} details$Q, e);
            }
        } catch (Exception e) {
            handleException(aContext, $QCrud${viewclass.entityclassname}.doCreate()$Q,
                $QUnable to create ${viewclass.entityclassname}$Q, e);
        }
    }


    /**
     * Update an existing instance of ${viewclass.entityclassname}
     */
    public void doUpdate${viewclass.entityclassname}(RunData aData, Context aContext) {
        try {
            logParameters(aData, $Q${viewclass.entityclassname}.update()$Q);

            ${viewclass.entityclassname} instance = new ${viewclass.entityclassname}();
            ParameterParser parser = aData.getParameters();
            parser.setProperties(instance);

			PersistanceManager pm = jdos.getPersistenceManagerFactory().getPersistenceManager();
			try {
                tx.begin();       
    			pm.makePersistent(instance);
                tx.commit();
            }
            finally
            {
                if (tx.isActive()) {
                    tx.rollback();
                }
                pm.close();
			}

            try {
            #foreach (${parentclass} in ${viewclass.parents})
                populateContextWith${parentclass.entityclassname}(aData, aContext);
            #end
                populateContextFollowingUpdateWith${parentclass.entityclassname}(instance, aData, aContext);
            } catch (Exception e) {
                handleException(aContext, $QCrud${viewclass.entityclassname}.doUpdate()$Q,
                    $QUnable to populate context with instance details$Q, e);
            }
        } catch (Exception e) {
            handleException(aContext, $QCrud${viewclass.entityclassname}.doUpdate()$Q,
                $QUnable to update instance$Q, e);
        }
    }

    /**
     * Delete an instance of ${viewclass.entityclassname}
     */
    public void doDelete${viewclass.entityclassname}(RunData aData, Context aContext) {
        try {
            logParameters(aData, $QCrud${viewclass.entityclassname}.delete()$Q);

            ${viewclass.entityclassname} instance = new ${viewclass.entityclassname}();
            ParameterParser parser = aData.getParameters();
            parser.setProperties(instance);

			PersistanceManager pm = jdos.getPersistenceManagerFactory().getPersistenceManager();
			try {
                tx.begin();       
    			pm.deletePersistent(instance);
                tx.commit();
            }
            finally
            {
                if (tx.isActive()) {
                    tx.rollback();
                }
                pm.close();
			}

            contextMessage(aContext,
                $QConfirmed deletion of record named \$Q$Q +
                ${class.displayname} + \$Q$Q);
            #foreach (${parentclass} in ${viewclass.parents})
                populateContextWith${parentclass.entityclassname}(aData, aContext);
            #end
                populateContextWithSelected${viewclass.entityclassname}(null,
                    aData, aContext);
        } catch (Exception e) {
            handleException(aContext, $QCrudRecord.doDelete()$Q,
                $QUnable to delete record$Q, e);
            populateContext(aData, aContext);
        }
    }
#end

    /**
     * Invoked when a form is submitted without a specific doPerform action.
     *
     * This action is fired when a specific record is selected in a HTML select
     * box, and serves to populate the aContext with the object representing
     * the record. The template then renders the page with the objects fields.
     */
    public void doPerform(RunData aData, Context aContext) {
        logParameters(aData, $QCrud${SummitHelper.getScreenName}.doPerform()$Q);

        String selectionType = aData.getParameters().getString($QselectionType$Q);

        /*
           This method is invoked when the user modifies a drop-down list.
           Not possible to invoke a specific submit input from javascript
           (e.g. like doSubmit_blah), so instead the javascript sets a
           hidden parameter to identify which drop-down was used.
         */
        if (selectionType.equals($Qselect${rootClassView.entityclassname}$Q)) {
            // The user has updated the rootselectable list
            // In this case we only populate the context
            // with the selected rootselectable type, and effectively
            // remove all other selections from the context
            populateContextWith${rootClassView.entityclassname}(aData, aContext);
        } 
        #foreach($viewrefclass in $viewrefclasses)
        else if (selectionType.equals($Qselect${viewrefclass.entityclassname}$Q)) {
            // An event has originated from the ${viewrefclass.entityclassname} drop-down
            // In this case, we want to populate the context with
            // the selection down to the ${viewrefclass.entityclassname} lists,
            // but not beyond, since these will be invalid now
            // that a new ${viewrefclass.entityclassname} has been chosen.
            populateContextWith${viewrefclass.entityclassname}(aData, aContext);
        } 
        #end
    }
    /**
     * The selector attribute should always reside in the context so that drop-down
     * lists can be populated by a pull tool
     */
    protected void populateContextWith${rootClassView.entityclassname}(RunData aData, Context aContext) {
		#fetchselector($rootClassView)
        if (aObject != null) {
            aContext.put($Qselected${rootClassView.entityclassname}$Q, aObject);
            ${rootClassView}.setSelectedObject(aObject);
        }
    }
	protected void populateContextFollowingUpdateWith${rootClassView.entityclassname}(
		${rootClassView.entityclassname}instance, RunData aData, Context aContext) {
		// Updated root object and currently selected child objects put into RunData
        if (instance != null) {
            aContext.put($Qselected${rootClassView.entityclassname}$Q, instance);
            ${rootClassView}.setSelectedObject(instance);
        }
        #set ( ${childclasses} = ${rootClassView}.children )
        #foreach ( ${childclass} in ${childclasses} )
		${childclass.entityclassname} instance = new ${childclass.entityclassname}();
		ParameterParser parser = aData.getParameters();
		parser.setProperties(instance);
        populateContextWithSelected${childclass.entityclassname}(instance, aData, aContext);
        #end
	}

#foreach(${viewrefclass} in ${viewrefclasses})
    /**
     * The selector attribute should always reside in the context so that drop-down
     * lists can be populated by a pull tool
     */
    protected void populateContextWith${viewrefclass.entityclassname}(RunData aData, Context aContext) {
		#fetchselector($viewrefclass)
        if (aObject != null) {
            aContext.put($Qselected${viewrefclass.entityclassname}$Q, aObject);
            ${viewrefclass}.setSelectedObject(aObject);
        }
    }
    protected void populateContextWithSelected${viewrefclass.entityclassname}(${viewrefclass.entityclassname} instance, RunData aData, Context aContext) {
        if (instance != null) {
            aContext.put($Qselected${viewrefclass.entityclassname}$Q, instance);
            ${viewrefclass}.setSelectedObject(instance);
        }
    }
#end

    /**
     * Normally used for recovering the screen values after an exception
	 * pays no attention to current context. Will be improved by 
	 * returning objects currently in context with the error message
     */
    protected void populateContext(RunData aData, Context aContext) {
        // This could be done with javascript, but stick with the convention
        #foreach (${parentclass} in ${parentclasses})
            populateContextWith${parentclass.entityclassname}(aData, aContext);
        #end
            populateContextWithSelected${rootClassView.entityclassname}(null,
                aData, aContext);
    }
}
