$page.setTitle("Error")

$page.setBgColor("#ffffff")
#set ( $filename="style.css.${detector}")
#set ( $styleSheet=$content.getURI("/servlet/summit-webapp/resources/${filename}"))
$page.addStyleSheet($styleSheet)

<font face="verdana,geneva,helvetica">
<table cellpadding="0" cellspacing="10" border="0" width="$ui.screenTableWidth">
    <tr>
        <td>
            <h2>Error</h2>
        </td>
    </tr>
    <tr>
        <td>
            #if($data.getMessage())
                Message: $data.getMessage()
            #else
            <p>This error was not expected, check your connection with the database.</p>
        </td>
    </tr>
    <tr>
        <td>
			<p>If the database connection is OK then the problem may be in the display logic for Summit-webapp.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>The log files are in the Servlets directory structure at %servlet root directory%\webapps\summit-webapp\logs</p>
            #end
        </td>
    </tr>
</table>
</font>
