/**
 * This class is only generated once! It will never be overwritten.
 * You can (and have to!) safely modify it by hand.
 */
package ${metadata.packageName};

#set ($superclass = $metadata.javaGeneralization)

/**
#if ($superclass)
  * @hibernate.subclass discriminator-value="${metadata.name}"
#else
  * @hibernate.class table="${metadata.name}"
#end
  */
public class ${metadata.name} extends ${metadata.name}Base implements java.io.Serializable {

}
