<!--=======================================================================-->
<!-- MENU TEXT ============================================================-->
<!--=======================================================================-->
<table cellspacing="1" border="0">

<tr>
<td><a class="leftmenu" href="$link.setPage("CustomerOrder.vm")">Manage Orders</a>
</td>
</tr>

</table>
