$page.setTitle("Error")

$page.setBgColor("#ffffff")

<font face="verdana,geneva,helvetica">

<h2>Error with Rendering Engine</h2>

<p>Please check velocity.log</p>

$processingException

<hr>

$stackTrace

</font>

<br>

