/**
 * This class is only generated once! It will never be overwritten.
 * You can (and have to!) safely modify it by hand.
 */
package ${plugin.getDestinationPackage($metadata)};

#set ($superclass = $class.javaGeneralization)

/**
#if ($superclass)
  * @hibernate.subclass discriminator-value="${metadata.name}"
#else
  * @hibernate.class table="${metadata.name}"
#endif
  */
public class ${metadata.name} extends ${metadata.name}Base {

}
